
@import 'vars';

#docs {

	padding-top: 40px;

	table {

    	width: 100%;

    	th, tr {

    		&:first-child, &:last-child {

    			width: 140px;
    		}
    	}
	}

	div[markdown] {

		p, pre, table {
			margin-bottom: 30px;
		}

		h1, pre {
    		
    		&:first-of-type { display: none; }
		}

		h2, h4 {

			font-weight: 900;
			margin-top: -40px;
			padding-top: 40px;

			&:after {

				font-size: 14px;
				font-style: italic;
				font-weight: 500;
				display: inline-block;
				content: "\00a0 endpoint";
				color: $really-dark-teal;
			}
		}

		h3 { 
			font-weight: 300; 
			color: $really-dark-teal;
		}

		h4 {
			
			font-weight: 500;

			&:after {

				content: "\00a0 model";
			}
		}

		h6 { display: none; }	

		pre {

			position: relative;

			&:before {

				font-size: 12px;
				font-style: italic;
				font-weight: 300;
				display: inline-block;
				content: "example response";
				position: absolute;
				top: 5px;
				right: 10px;
				color: $really-dark-teal;
			}
		}

		// .request {

		// 	font-size: 1.4em;
		// 	font-weight: 300;
		// }

		// .model-title {
			
		// 	&:after {

		// 		font-size: 14px;
		// 		font-style: italic;
		// 		font-weight: 300;
		// 		display: inline-block;
		// 		content: "\00a0model";
		// 	}
		// }
	}
}