Django==3.1.14
Unipath==1.1
coverage==4.5.1
django-cors-headers==3.11.0
django-discover-runner==1.0
django-redis==4.12.1
django-cachalot==2.3.5
djangorestframework==3.14.0
gunicorn==20.1.0
mimeparse==0.1.3
psycopg2-binary==2.9.5
python-dateutil==2.8.1
python-mimeparse==1.6.0
