Django==1.8.14
Pillow==2.6.1
Unipath==1.1
coverage==3.6
django-appconf==0.6
dj-stripe==0.3.5
django-cors-headers==1.0.0
django-discover-runner==0.4
django-imagekit==4.0.1
django-redis==4.8.0
django-cachalot==1.5.0
django-tastypie==0.14.0
django-markdown-deux==1.0.5
djangorestframework==3.6.4
drf-ujson==1.2.0
gunicorn==19.4.5
markdown2==2.3.4
mimeparse==0.1.3
pilkit==2.0
psycopg2==2.5.4
python-dateutil==2.6.1
python-mimeparse==1.6.0
simplejson==3.11.1
six==1.11.0
wsgiref==0.1.2
