{% extends "base.html" %}
{% load humanize %}
{% block mainbody %}


    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand">
                <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://pokeapi.co" data-text="Pokéapi - the Pokémon RESTful API " data-via="phalt_" data-related="phalt_">Tweet</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            </div>
        </div>
        <div class="collapse navbar-collapse navbar-right">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="#">About</a></li>
            <li><a href="/docsv2/">Documentation</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

<section id="about">

    <div class="header">

        <h1>The RESTful Pokémon Data API</h1>

    </div>
    {% if alert %}
    <div class="container">
        <div class="row" style="padding-top:20px;text-align:center;">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
            <div class="alert alert-danger" role="alert">{{ alert.message|safe }}</div>
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>
    {% endif %}

    <div class="container">

        <div class="row pad_top">

            <div class="col-md-10 center-block">

                <p class="lead">
                    What is this?
                </p>
                <div class="well">
                    <p>
                        This website provides a RESTful API interface to highly detailed objects built from thousands of lines of data
                        related to <a href="https://en.wikipedia.org/wiki/Pokemon">Pokémon</a>. We specifically cover the video game franchise, though we'd like to cover the card game too. Using this website, you can consume information on Pokémon, their moves, abilities, types, egg groups and much much more.
                    </p>
                </div>
                <p class="lead">
                    What exactly is an API?
                </p>
                <div class="well">
                    <p>
                        This is probably worth clearing up very quickly for those who don't know.<br />
                        An API (Application Programming Interface) is a set of interfaces (in this case, url links)
                        that are publicly available, that allow developers to interact with an application.<br />
                        In this instance; the application is a database of thousands of pokemon-related objects.
                    </p>
                </div>
                <p class="lead">
                    Aren't there 101 other Pokémon websites already?
                </p>
                <div class="well">
                    <p>
                        Yes and that's exactly the problem!
                    </p>
                    <p>
                        101 instances of the same website means 101 instances of the <b>same data</b>.
                    </p>
                    <p>
                        We aim to provide a <b>single database</b> that any number of other websites
                        can consume and use.
                    </p>
                    <p>
                        Often, and especially when new Pokémon games or updates are released, those 101+ websites
                        take <b>weeks</b> to update as people have to enter the same information in all those different places.
                        </p>
                        <p>This solves that problem.
                    </p>
                    <p>
                        If all those sites consumed their data from here, they would have the exact same information that is updated at exactly the same time, with no errors between each website.
                    </p>
                    <p>
                        The overall benefit is a better collaboration and consistency across all the different Pokémon
                        websites and applications. It's good for all!
                    </p>
                </div>
                <p class="lead">
                    How much information is stored here?
                </p>
                <div class="well">
                    <p>
                        We're glad you asked because we've got an impressive amount of data!
                    </p>
                    <p>
                        We currently have <b>{{ site_data.total_items|intcomma }}</b> individual items in our database:
                    </p>
                    <ul>
                        <li>{{ site_data.moves }} Moves</li>
                        <li>{{ site_data.abilities }} Abilities</li>
                        <li>{{ site_data.types }} Types</li>
                        <li>{{ site_data.egg_groups }} Egg groups</li>
                        <li>{{ site_data.versions }} Versions </li>
                        <li>{{ site_data.items }} Items</li>
                        <li>{{ site_data.pokedexes }} Pokedexes</li>
                        <li>{{ site_data.pokemon }} Pokémon (includes various forms)</li>
                    </ul>
                    <p>And that's just scratching the surface!</p>
                    <p class="lead">The server has processed <b>{{ total|intcomma }}</b> api calls at an average of <b>{{ average_day|intcomma }}</b> calls per day.</p>
                </div>
                <p class="lead">
                    The API is missing stuff!
                </p>
                <div class="well">
                    <p>
                        We know! Feel free to contribute to open issues on <a href="https://github.com/PokeAPI/pokeapi/">GitHub</a>. <br/>
                        Have ideas for new features? We're on Slack! Sign up <a href="https://pokeapi-slack-invite.herokuapp.com/">right here</a> then visit our <a href="https://pokeapi.slack.com">slack team</a>.
                    </p>
                </div>
                <p class="lead">
                    So who built this?
                </p>
                <div class="well">
                    <p>
                        Pokémon V1 was created by <a href="http://github.com/phalt">Paul Hallett</a> as a weekend project but it quickly became more than a weekend's
                        worth of work. In <a href="http://phalt.co/if-you-have-data-they-will-consume-it/" target="none">December of 2014</a> Paul deprecated V1 in favor of working on V2.
                        This is where <a href="http://github.com/zaneadix">Zane Adickes</a> jumped in. Zane thought the original project was a fantastic idea and wanted to help it grow.
                        With direction from Paul, Zane created the V2 api using an exact mirror of <a href="http://github.com/eevee">Veekun's</a> data related to the main series of games.
                    </p>
                    <p>
                        We have a <a href="https://github.com/pokeapi">GitHub organisation</a> of contributors that you are welcome to join!
                    </p>
                </div>
                <p class="lead">
                    Where did you get all of this data?
                </p>
                <div class="well">
                    <p>
                        We gathered the information on this site from various resources:
                    </p>
                    <ul>
                        <li><a href="https://github.com/eevee" target="none">Veekun</a> has a fantastic <a href="http://veekun.com/dex" target="none">Pokedex</a> which is also an open source <a href="https://github.com/veekun/pokedex" target="none">project</a> containing a ton of csv data. We used this to flesh out the database that powers Pokeapi.</li>
                        <li><a href="http://bulbapedia.bulbagarden.net/wiki/Main_Page" target="none">Bulbapedia</a> has a tonne of extra information that proved useful when designing models and documenting resources.</li>
                    </ul>
                    <p>
                        I'd also like to thank:
                    </p>
                    <ul>
                        <li>Laven Pillay, who scraped together most of the sprites used on the site.</li>
                    </ul>
                </div>
                <p class="lead">
                    What's the technology stack?
                </p>
                <div class="well">
                    <p>
                        The website framework is <a href="https://djangoproject.com" target="none">Django</a>,
                        a super awesome framework built around <a href="https://python.org" target="none">Python</a>.<br />
                        We use a <a href="https://www.postgresql.org" target="none">Postgres</a> database to store all our data.<br />
                        We use <a href="http://www.django-rest-framework.org/" target="none">Django REST Framework</a> to expose our data through a RESTful API.<br />
                        We're hosted on <a href="https://www.digitalocean.com/?refcode=eab2fea41bc6" target="none">DigitalOcean</a> servers, who cover the cost of the servers, for free! We <3 them.
                    </p>
                </div>
            </div>
        </div><!--row-->

    </div><!-- /.container -->

</section>

{% endblock %}
