version: 2

jobs:
  test:
    docker:
      - image: circleci/python:3.7
    steps:
      - checkout
      - run:
          name: Install deps
          command: sudo make install && sudo make dev-install
      - run:
          name: Linting
          command: make lint
      - run:
          name: Run tests
          command: make test

workflows:
  version: 2
  test:
    jobs:
      - test
