apiVersion: kind.x-k8s.io/v1alpha4
kind: Cluster
nodes:
  - role: control-plane
    extraMounts:
      - hostPath: /home/runner/work/pokeapi/pokeapi/data/v2/
        containerPath: /code/pokeapi/data/v2/