
@import 'vars';

#home {

	.title {
		font-weight: 900;
	}

	.v {
		font-size: .5em;
		font-weight: 300;
	}

	.hero {
		
		margin-bottom: 40px;
		background-color: $dark-teal;

	// 	&:after {
			
	// 		display: block;
	// 		position: absolute;
	// 		content: " ";
	// 		width: 0; 
	// 		height: 0px; 
	// 		border-left: 30px solid transparent;
	// 		border-right: 30px solid transparent;
	// 		border-top: 30px solid $dark-teal;
	// 		margin: 40px auto 0;
	// 		left: 50%;
	// 	}
	}

	.try {
		
		font-weight: 600;
		margin-bottom: 40px;
	}

	.request {

		width: 100%;
		margin-bottom: 30px;

		.endpoint {

			button {

				border-right-style: none;
			}
		}
	}

	.json-body {

		border: 1px solid $test-gray;
		padding: 20px;
		min-height: 360px;
		max-height: 360px;
		overflow: scroll;
	}
}