<!DOCTYPE html>
<html lang="en">
<!-- Designed and built by Paul Hallett - http://phalt.co -->
<!-- All code and styling is copyright Paul Hallett 2014 -->
  <head>
    <meta charset="utf-8">
    <title>
      pokéapi - The Pokemon RESTful API
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Pokeapi The Pokemon RESTful API">
    <meta name="author" content="Paul Hallett">
    <link href="/static/pokemon/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/pokemon/css/custom.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
      </script>
    <![endif]-->
    <link rel="shortcut icon" href="/static/favicon.ico">
      <script src="/static/pokemon/js/jquery.js">
    </script>
    <script src="/static/pokemon/js/bootstrap.min.js">
    </script>
  </head>
  <body>
    {% block mainbody %}

    {% endblock mainbody %}
  </body>
  <hr class="">

  <div class="footer">
    <p><a href="http://phalt.co?ref=pokeapi" target="_blank">&copy; Paul Hallett <script type="text/javascript">
  document.write(new Date().getFullYear());
</script></a>
      <span class="pull-right">
        <a href="https://twitter.com/phalt_" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false" data-dnt="true">Follow me on twitter</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<iframe src="https://ghbtns.com/github-btn.html?user=phalt&type=follow"
  allowtransparency="false" frameborder="0" scrolling="0" width="132" height="20"></iframe></span></p>
  </div>

      </div>
<!-- gauges tracking code -->
<script type="text/javascript">
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-53299289-1', 'auto');
  ga('send', 'pageview');
</script>
  </body>
</html>
