
<!DOCTYPE html>

<html lang="en">

    <!-- A project by Paul Hallett - http://phalt.co - https://github.com/phalt/pokeapi -->
    <!-- Collaborators: -->
    <!-- Zane Adickes - https://github.com/zaneadix/ -->

    <head>

        <meta charset="utf-8">

        <title> Pokéapi - The Pokemon RESTful API </title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Pokeapi The Pokemon RESTful API">
        <meta name="author" content="Paul Hallett">
        <meta name="author" content="Zane Adickes">

        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link rel="shortcut icon" href="/static/favicon.ico">

        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    </head>

    <body ng-app="pokeapi_v2">

        {% block mainbody %}

        {% endblock mainbody %}

<!--
        <hr class="">
         
        <div class="footer">
            <p>             
                <a href="http://phalt.co?ref=pokeapi" target="_blank">&copy; Paul Hallett 
                    <script type="text/javascript">
                        document.write(new Date().getFullYear());
                    </script>
                </a>

                <span class="pull-right">
                    <a href="https://twitter.com/phalt_" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false" data-dnt="true">Follow me on twitter</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                    <iframe src="http://ghbtns.com/github-btn.html?user=phalt&type=follow" allowtransparency="false" frameborder="0" scrolling="0" width="132" height="20"></iframe>
                </span>

            </p>

        </div> 
-->

    </body>

</html>
