
<!DOCTYPE html>

<html lang="en">

    <!-- A project by Paul Hallett - http://phalt.co - https://github.com/phalt/pokeapi -->
    <!-- Collaborators: -->
    <!-- Zane Adickes - https://github.com/zaneadix/ -->

    <head>

        <meta charset="utf-8">

        <title> Pokéapi - The Pokemon RESTful API </title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Pokeapi The Pokemon RESTful API">
        <meta name="author" content="Paul Hallett">
        <meta name="author" content="Zane Adickes">

        <base href="/">

        <link href="/static/pokemon_v2/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/pokemon_v2/css/json-formatter.min.css" rel="stylesheet">
        <link href="/static/pokemon_v2/css/app.min.css" rel="stylesheet">
        <link rel="shortcut icon" href="/static/favicon.ico">

        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    </head>

    <body ng-app="pokeapi_v2">

        {% block mainbody %}

        {% endblock mainbody %}
        
        <script src="/static/pokemon_v2/js/marked.min.js"></script>
        <script src="/static/pokemon_v2/js/angular.min.js"></script>
        <script src="/static/pokemon_v2/js/angular-ui-router.min.js"></script>
        <script src="/static/pokemon_v2/js/angular-sanitize.min.js"></script>
        <script src="/static/pokemon_v2/js/json-formatter.min.js"></script>
        <script src="/static/pokemon_v2/js/app.min.js"></script>

    </body>

</html>
