

$test-gray: #D9D9D9;
$border-grey: #CCC;

$black: #212121;
$dark-grey: #424242;

$really-light-teal: #E0F2F1;
$light-teal: #B2DFDB;
$dark-teal: #00838F;
$really-dark-teal: #00695C;

$header-height: 53px;