
@import 'vars';

html {
    height: 100%;
    position: relative;
}

body {
    
    height: 100%;
    font-family: 'Lato', Sans-Serif;
    color: $black;
    // position: relative;
    // margin-top: 53px;
}

h1, h2, h3, h4, h5, h6 {

    // makes sure anchors stay below the header when traveled to
    // margin-top: -$header-height;
    // padding-top: $header-height;  
    margin-top: 0;
}

ul {

	list-style: none;
	
	li {
		
		padding: 0;
	}
}

a {
    color: #0288D1;
}

pre {

    max-height: 360px;
    overflow: scroll;
    border-color: $border-grey;
}

th, td {

    border: solid 1px $border-grey;
    padding: 10px;
}

code {

    background-color: $really-light-teal;
    color: $really-dark-teal;
}

.content {
    
    float: right;
    width: 80%;
}

.standard-pad {

    padding-top: 40px;
}

.hero {
  
    text-align: center;
    padding-bottom: 40px;

    h1 {

        font-weight: 900;
    }
    // color: #FFF;
}

.center-block {

    float: none;
    margin: 0 auto;
}

.input-group-addon, .btn {

    border-radius: 0;
}