
.pokespinner  {
  
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 4px solid #00838F;
  background-color: #FFF;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  -webkit-animation: load8 1.5s infinite linear;
  animation: load8 1.5s infinite linear;
  
  &:before, &:after {
    display: block;
    content: "";
  }
  
  &:before {
    width: 100%;
    height: 40px;
    margin-top: -6px;
    background-color: #26C6DA;
    border-bottom: 4px solid #00838F; 
  }
  
  &:after {
    width: 10px;
    height: 10px;
    background-color: #FFF;
    position: absolute;
    top: 40px;
    left: 40px;
    margin: -10px 0 0 -10px;
    border-radius: 50%;
    border: 1px solid #00838F;
    box-shadow: 0px 0px 0px 2px #FFF, 0px 0px 0px 6px #00838F;
  }
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}